@(adminContent: Html)(implicit flash: Flash, session: play.api.mvc.Session)

@main("Admin - Libreria Parole Nuove") {
    
		<div id="adminSection">
		<div id="flashContent">
				@flash.get("success").map { m =>
			<span>
						 @m
			</span>
				}
		</div>
    <div id="adminContent">
		@adminContent
		</div>
		<!--
    <div id="adminMenu">
			<ul>
				<li><a href="@routes.Admin.posts">News</a></li>
				<li><a href="@routes.Admin.posts">News</a></li>
				<li><a href="@routes.Admin.posts">News</a></li>
			</ul>
		</div>
		-->
	</div>
}