@(listPages: List[PageVisited])(implicit session: play.api.mvc.Session, flash: Flash)

@header(orderBy: Int, title: String) = {
    <th>
        @title
    </th>
}

@import org.apache.commons.lang3.time.DateFormatUtils.{format => formatDate}

@admin {
	<ul>
	<table>
            <thead>
                <tr>
                    @header(2, "Nome pagina")
                    @header(3, "Ip visitatore")
                    @header(4, "Data")
                    @header(5, "User")
                </tr>
            </thead>
	

			<tbody>

                @listPages.map { page => 
                        <tr>
                            <td>@page.pagename</td>
                	   		<td>
                	   		@page.ip 
                	   		</td>
                            <td>
                				@formatDate(page.dateVisited, "dd/MM/yyyy HH:mm")
                            </td>
												 <td>@page.fkUser</td>
                        </tr>
                     }

            </tbody>
    </table>
}