@(consigli: List[Consigli])(implicit session: play.api.mvc.Session)

@main("I nostri consigli - Libreria Parole Nuove") {
	    <h1 class="title-section">Idee Regalo</h1>
	    <ul class="consigli">
	    @consigli.map {consiglio => 
				<li>	
	    	<img src="assets/images/test.jpg" />
	    	<h3>@{consiglio.posizione}. @consiglio.titolo 
					@consiglio.autore.map{ aut => 
						- 
						@aut} </h3>
	    	<p>@consiglio.descrizione - 
						@consiglio.tipo.label
				</p>
				</li>	
	    
	    }
			</ul>
}